* {
    margin: 0;
    padding: 0;
}


:root {
    --background-white-color: hsl(0, 0%, 98%);
    --Medium--Gray: hsl(0, 0%, 41%);
    --Almost--Black: hsl(0, 0%, 8%)
}

html {
    height: 100%;
}
p,
h1,
h2,
h3,
h4,
a {
    font-size: 18px;
    color: var(--Medium--Gray);
}

a {
    text-decoration: none;
    font-family: inherit;
}

ul{
    list-style: none;
}

li:not(:last-child) {
    margin-right: 20px;
}
body {
    font-family: 'Epilogue', sans-serif;
    background: var(--background-white-color);
}
header ,.contacts-list, .header-left-part {
    display: flex;
}

header {
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    cursor: pointer;
}
.contacts-list {
    margin-left: 40px;
}

.contacts-registration a {
    margin-right: 50px;
}

.contacts-list-item:hover {
    color: black;
}

.contacts-registration button {
    padding: 11px 24px;
    background: inherit;
    border-radius: 14px;
    color: var(--Medium--Gray);
}

.contacts-registration button:hover {
    color: #000;
}
.main-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.person-photo img {
    height: 500px;
}

.main-left-part h1 {
    display: block;
    color: black;
    font-size: 82px;
}

.main-left-part h1, .main-left-part p , .main-left-part button {
    margin-bottom: 60px;
}

.main-left-part p {
    max-width: 500px;
    line-height: 30px;
}

.main-left-part h1 span {
    display: block;
}

.main-left-part button {
    padding: 14px 22px;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-family: inherit;
    border-radius: 14px;
    font-size: 16px;
    transition: all 0.3s;
}

.main-left-part button:hover  {
    background: inherit;
    color: black;
}


.sponsors {
    display: flex;
    justify-content: space-between;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item img{
    margin-right: 9px;
}

.dropdown-item a {
    font-size: 15px;
}

.dropdown-item:not(:last-child) {
    margin-bottom: 10px;
}
.dropdown-content {
    background: white;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: -1px 2px 20px 5px rgb(0 0 0 / 15%);
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 12px;
}

.dropdown-span {
    display: block;
}

.dropdown-span:not(:last-child) {
    margin-bottom: 15px;
    font-size: 15px;
}

.show {
    display: block;
}